body {
  color: #444;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.board {
  border: 1px solid #f3c;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.row {
  display: flex;
}

.cell {
  align-items: center;
  background: #efefef;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.cell:nth-child(2n) {
  background: #fff;
}

.cell:hover,
.cell.visited:hover {
  border-color: #f3c;
}

.cell:hover:not(.visited) {
  background-color: rgba(255,51,204, .3);
}

.cell.visited {
  background: #ccc;
  border-color: #aaa;
}

.cell.preview{
  background: #2ecc71;
  border-color: #aaa;
}

.cell:hover:not(.visited).preview {
  background-color: #2ecc71;
}

.cell.x:before {
  content: "x";
}

.cell.o:before {
  content: "o";
}

.winning-message {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    width: 302px;
    height: 302px;
    margin-top: -302px;
    flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}